<!-- <div class="card">
    <div class="card-body">
        <h2 class="card-title">Notification Preferences</h2>
    </div>

    <div class="notification-grid">
        <mat-card class="notification-card" *ngFor="let notification of notificationProjects">
            <div class="notification-header">
                <h3>{{ notification.name }}</h3>
                <h5 class="notification-text">Choose how you want to save the notifications</h5>
                <button class="dots-details" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>

        </mat-card>
    </div>
</div> -->