.header-toolbar {
    display: flex;
    align-items: center;
    background-color: #61CFBF;
  }
  
  .app-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .spacer {
    flex: 1;
  }
  
  
  .icon-button-not {
    margin-right: 0.1rem;
  }
  
  .icon-button-person {
    margin-left: 0.3rem;
  }
  
  .user-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
  }