<div class="card">
  <div class="card-body">
    <h2 class="card-title">Settings</h2>
    <h5 class="card-text">Manage your account preferences and application settings</h5>
  </div>

  <div class="diff-tabs">
    <!-- Tab Group with Event Binding -->
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let tab of tabs" [label]="tab.label"></mat-tab>
    </mat-tab-group>
  </div>

  <!-- Conditional rendering of components -->
  <TaskManagement-profile *ngIf="activeTab === 'profile'"></TaskManagement-profile>
  <TaskManagement-notifications *ngIf="activeTab === 'notifications'"></TaskManagement-notifications>
  <TaskManagement-apperanace *ngIf="activeTab === 'appearance'"></TaskManagement-apperanace>
 
  
</div> 