<div class="content-box">
    <div class="card-container">
        <mat-card-header class="mat-card-header">
            <mat-card-title>Recent Tasks</mat-card-title>
            <mat-card-subtitle>Here's your task review</mat-card-subtitle>
        </mat-card-header>

        <!-- Search, Filter, and Add Task on one line -->
        <div class="search-actions">
            <input type="text" placeholder="Search tasks..." />
            <button class="primary" type="button">Search</button>
            <mat-card>
                <mat-card-content>Filter task</mat-card-content>
                <button><i class="fa-solid fa-filter"></i></button>
            </mat-card>
            <mat-card>
                <mat-card-content>Filter</mat-card-content>
                <button><i class="fa-solid fa-filter"></i></button>
            </mat-card>
            <mat-card>
                <mat-card-content>Add Task</mat-card-content>
                <button><i class="fa-solid fa-plus"></i></button>
            </mat-card>
        </div>

        <div class = "example-c1">
            <mat-card class="example-card1">
                <mat-card-header>
                    <mat-card-title>Implement User Authentication</mat-card-title>
                    <mat-card-subtitle>Due: May 15, 2025</mat-card-subtitle>
                </mat-card-header>
                <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            </mat-card>
        </div>
        

        <mat-card class="example-card1">
            <mat-card-header>
                <mat-card-title>Design Landing Page</mat-card-title>
                <mat-card-subtitle>Due: May 15, 2025</mat-card-subtitle>
            </mat-card-header>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>

        <mat-card class="example-card1">
            <mat-card-header>
                <mat-card-title>Set up CI/CD Pipeline</mat-card-title>
                <mat-card-subtitle>Due: May 15, 2025</mat-card-subtitle>
            </mat-card-header>
            <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
        </mat-card>
    </div>
</div>