<div class="card">
  <div class="card-body">
    <h2 class="card-title">Profile Settings</h2>
    <h5 class="card-text">Manage your personal information and account settings</h5>
  </div>

  <!-- Avatar Section -->
  <div class="avatar-section">
    <img
      [src]="profile.avatar || 'assets/default-avatar.png'"
      alt="User Avatar"
      class="avatar"
    />
    <button mat-button (click)="changeAvatar()">Change Avatar</button>
  </div>

  <mat-tab-group>
    <mat-tab *ngFor="let tab of settingsTabs">
      <mat-card>
        <form>
          <div *ngFor="let field of tab.fields" class="form-group">
            <label>{{ field.label }}</label>
            <ng-container [ngSwitch]="field.type">
              <input *ngSwitchCase="'text'" type="text" [(ngModel)]="formData[field.key]" [name]="field.key" />
              <input *ngSwitchCase="'email'" type="email" [(ngModel)]="formData[field.key]" [name]="field.key" />
              <input *ngSwitchCase="'number'" type="number" [(ngModel)]="formData[field.key]" [name]="field.key" />
              <input *ngSwitchCase="'password'" type="password" [(ngModel)]="formData[field.key]" [name]="field.key" />
            </ng-container>
          </div>
          <div class="savebutton">
            <button mat-button type="submit" (click)="saveProfile()">Save Changes</button>
          </div>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
